<h1>Valley Heights Rural Fire Brigade</h1>
<h2>Welcome to the Valley Heights Rural Fire Brigade Website</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<p>
  <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=32-34+Great+Western+Highway,+Valley+Heights,+New+South+Wales&amp;aq=0&amp;oq=32-34+Great+Western+Highway,+V&amp;sll=-25.335448,135.745076&amp;sspn=62.858164,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=32-34+Great+Western+Hwy,+Valley+Heights+New+South+Wales+2777&amp;ll=-33.702093,150.582795&amp;spn=0.001841,0.003484&amp;t=h&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=32-34+Great+Western+Highway,+Valley+Heights,+New+South+Wales&amp;aq=0&amp;oq=32-34+Great+Western+Highway,+V&amp;sll=-25.335448,135.745076&amp;sspn=62.858164,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=32-34+Great+Western+Hwy,+Valley+Heights+New+South+Wales+2777&amp;ll=-33.702093,150.582795&amp;spn=0.001841,0.003484&amp;t=h&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</p>

<p>
  Copyright <%= Time.now.year %>
</p>
